@use "variables" as *;
@use "mixins" as *;


// Estilos BASE

body {
  font-family: $font-base;
  font-size: 16px;
  background-color: $color-secundario;
  color: $color-texto;
  margin: 0;
  padding: 0;
}

a {
  color: $color-acento;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
main {
  padding-top: 10px; // ✅ altura del header
}