@use "variables" as *;
@use "mixins" as *;


// FOOTER

footer {
  background-color: $color-secundario;
  padding: $spacing-lg 0;
  text-align: center;
  font-size: 0.9rem;
  color: $color-texto-claro;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;

    p {
      margin: $spacing-sm 0;
    }

    .footer-links {
      margin-top: $spacing-md;

      a {
        color: $color-texto;
        margin: 0 $spacing-sm;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $color-acento;
        }
      }
    }
  }
}
