@use "variables" as *;
@use "mixins" as *;


/* ---------- Header ---------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 2rem;
  background-color: rgba(255, 255, 255, 0.9); // un poco traslúcido
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .logo img {
    max-width: 160px;
    height:auto;
    display: block;
    align-items: center;
  }
.navbar-brand img {
  height: 80px; 
  width: auto;
}
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    li a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: #d46a6a;
      }
    }
  }
}

/* ---------- Hero ---------- */
.hero {
  margin-top: 80px; // espacio para que no lo tape el header
  height: 70vh;
  background-image: url('../assets/img/bonichaani2.jpg');
  background-size: cover;
  background-position: center;
  animation: zoomHero 20s ease-in-out infinite alternate;
  position: relative;
}

@keyframes zoomHero {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
  }
}

/* ---------- Responsive ---------- */
@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
    padding: 0.5rem 1rem;

    .logo img {
      max-width: 120px;
    }

    nav ul {
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
    }
  }

  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
