@use "variables" as *;
@use "mixins" as *;

header {
  background-color: $color-primario;
  box-shadow: $shadow-suave;
  padding: $spacing-md 0;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      font-family: $font-titulos;
      font-size: 1.8rem;
      font-weight: bold;
      color: $color-texto;

      &:hover {
        color: $color-acento;
      }
    }

    .nav {
      display: flex;
      gap: $spacing-md;

      .nav-item {
        list-style: none;

        .nav-link {
          color: $color-texto;
          font-size: 1rem;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $color-acento;
          }

          &.active {
            font-weight: bold;
            color: $color-acento;
          }
        }
      }
    }
  }
}
