// Media queries reutilizables
@mixin movil {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin zoom($scale: 1.2, $duration: 6s) {
  animation: zoomIn $duration ease-in-out infinite alternate;

  @keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale($scale);
    }
  }
}
