@use "variables" as *;
@use "mixins" as *;

// PAGES 

.page {
  padding: $spacing-xl 0;

  h1, h2 {
    font-family: $font-titulos;
    margin-bottom: $spacing-lg;
    color: $color-texto;
    text-align: center;
  }

  p {
    max-width: 800px;
    margin: 0 auto $spacing-md;
    font-size: 1rem;
    line-height: 1.6;
    color: $color-texto;
  }

  .page-img {
    display: block;
    max-width: 600px;
    margin: $spacing-lg auto;
    border-radius: $border-radius-md;
        box-shadow: $shadow-suave;
  }
}

