
// Variables globales

// Colores
$color-primary: rgb(253, 222, 222);
$color-secondary: #6c5ce7;
$color-text: #333;
$color-background: #f9f9f9;
$rosa-principal:#d9b8b8;
$color-gris: #927d7d;

// Blanco
$blanco: #ffffff; 

// Hover
$rosa-hover: #ff69b4;  

// Tipografías
$fuente-texto: "Work Sans", "Cormorant Garamond", serif;
$fuente-titulos: "Quentin", "Cormorant Garamond", serif;

// Espaciados
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
$padding-base: 1rem; 
$border-radius: 8px;
